<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="user-form">
      <form action="/add-user" method="Post">
        <input name="userName" type="text" placeholder="username" />
        <input name="message" type="text" placeholder="message" />
        <button>add new user with message</button>
      </form>
    </div>

    <div class="create-comment-section">
      <form action="/create-comment" method="post">
        <input type="text" name="text" placeholder="make a comment!" />
        <button>Comment</button>
      </form>
    </div>
  </body>
</html>
